{% extends "base.html" %}

{% block container %}
<div class="row">
    <div class="large-4 large-offset-4 offset-top">
        <div class="panel">
            <h5>Sign in</h5>
            <form action="" method="POST">
                {{ form.hidden_tag() }}
                {% import "macros/foundation.html" as foundation %}
                {{ foundation.render_field(form.email) }}
                {{ foundation.render_field(form.password) }}
                {{ foundation.render_submit(form.submit) }}
            </form>
            <small>Forgotten your password? <a href="{{ url_for('user.recover') }}">Recover your account</a></small>
        </div>
    </div>
</div>
{% endblock %}
